<div id="dir-comments-{{ LINK_ID }}" class="dir-comments-container">
	<fieldset class="submit-buttons">
		{% if S_AUTH_COMM %}
		<form method="post"
			action="{{ path('nextgen_phpbbdirectory_comment_ajax_post', { link_id: LINK_ID }) }}"
			class="js-dir-comment-form"
			data-link-id="{{ LINK_ID }}">
			<textarea name="message" class="inputbox dir-comment-textarea" rows="4" required></textarea>
			{{ S_FORM_TOKEN }}
			<input type="submit" name="submit" value="{{ lang('SUBMIT') }}"  class="button2">
		</form>
		{% endif %}
	</fieldset>

	<div class="js-dir-comments-ajax">
		<div class="js-dir-comments-list">
			{% include 'comments_list.html' %}
		</div>
		<div class="action-bar bar-top dir-comments-header">
			<div class="pagination">
				<span class="dir_total_comments">{{ TOTAL_COMMENTS }}</span>
				{% if pagination %}
					{% include 'pagination.html' %}
				{% else %}
					&bull; {{ PAGE_NUMBER }}
				{% endif %}
			</div>
		</div>
	</div>
</div>
